@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap');

body{
   
    font-family: 'Poppins', sans-serif;
    margin:0 auto;
}
.inner{
    position: relative;
}
.outerContainer{
    height: auto;
    display: block;
    max-width: 1200px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
    margin-top: -155px;
}
.firstContainer{
    margin: 0 auto;
    display: flex;
    margin-top: 150px;
    

}
 
.side1Container{
    display: flex;
    flex-direction: column;
    max-width: 50%;
    width:50%;
   padding-right: 150px;
   margin-right: 20px;
    align-items: flex-start;
    color: #000066;
  
}

.common{
    width: 100%;
    display: flex;
    align-items: baseline;
    float: left;
    flex-direction: column;
}
.heading{
    display: flex;
    align-items: baseline;
}
h1{
    display: block;
    font-size: 2.5rem;
   font-weight: 700;
   margin-bottom: 0;
   text-align: left;
   text-transform: uppercase;
}

p{
    text-align: left;
}
.containerIcon{
    margin-right: 18px;
    margin-left: 10px;
    color:#ec7c2d;
    
}
 h3{
    margin-bottom: 0;
    
}
h3 + p{
    margin-top: 0;
}

.containerLine{
    margin-top: 40px;
}


hr { border: 1px solid #ec7c2d;
    width:100%; height:2px; 
    background:#ec7c2d;
 box-shadow:none; 
color:#ec7c2d}
 

.side2Container{
    display: flex;
    flex-direction: column;
    max-width: 50%;
    width:50%;
    
    align-items: flex-start;
    color: #000066;
  
    
}

.cot{
    display:flex;
    height: auto;
    margin: 0 auto;
    justify-content: end;
}

.trophy{
    margin-bottom: -2px;
}
/* timeline css */

.hobbies_icon{
    display: flex;
    font-size: 2rem;
    flex-wrap: wrap;
    margin-top: 10px;
}

.i{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}
.icon_name{
    font-size: 1rem;
}

@media only screen and (max-width:1205px){
    .outerContainer{
         
        margin-top: -130px;
    }


}


@media only screen and (max-width:1040px){
    .outerContainer{
         
        margin-top: -110px;
    }


}

@media only screen and (max-width:798px){
    .outerContainer{
         
        margin-top: -70px;
    }
    .firstContainer{
        flex-direction: column;
    }
    .side1Container{
        width:100%;
        max-width:100%;
        padding-right: 0;
        
    }
    .side2Container{
        width: 100%;
       max-width:100%
    }
    .containerIcon{
        margin-left: 20px;
    }
    
}



@media only screen and (max-width:428px){

    .outerContainer{
        width: 100%;
        margin-left: 10px;
        margin-right: 10px;
    }

}


@media only screen and (max-width:358px){

    .outerContainer{
        width: 100%;
        margin-left: 20px;
        margin-right: 20px;
    }

}